<header
  class="bg-white dark:bg-gray-900 shadow-sm fixed w-full top-0 left-0 right-0 z-50"
>
  <div
    class="mx-auto flex h-16 max-w-screen-xl items-center gap-8 px-4 sm:px-6 lg:px-8"
  >
    <a routerLink="/home" class="block text-teal-600 dark:text-teal-300 cursor-pointer border border-teal-600 dark:border-none rounded-full p-1">
      <img src="assets/favicon-32x32.png" alt="Logo" class="h-8 w-auto" />
    </a>

    <div class="flex flex-1 items-center justify-end md:justify-between">
      <nav aria-label="Global" class="hidden md:block">
        <ul class="flex items-center gap-6 text-sm">
          <li>
            <a
              href="https://tetiana-dev.vercel.app"
              class="text-gray-500 transition hover:text-teal-600 dark:text-white dark:hover:text-teal-300"
            >
              ← Back to Portfolio
            </a>
          </li>
          <li>
            <a
              href="https://github.com/TetianaAleks"
              target="_blank"
              rel="noopener noreferrer"
              class="text-gray-500 transition hover:text-teal-600 dark:text-white dark:hover:text-teal-300"
            >
              GitHub
            </a>
          </li>
          <li>
            <a
              href="https://www.frontendmentor.io/profile/TetianaAleks"
              target="_blank"
              rel="noopener noreferrer"
              class="text-gray-500 transition hover:text-teal-600 dark:text-white dark:hover:text-teal-300"
            >
              Frontend Mentor profile
            </a>
          </li>
        </ul>
      </nav>

      <div class="flex items-center gap-4">
        <a
          href="https://tetiana-dev.vercel.app/contact"
          class="hidden sm:inline-block rounded-md bg-teal-600 px-5 py-2.5 text-sm font-medium text-white transition hover:bg-teal-700"
          >Hire Me</a
        >

        <button
          (click)="toggleTheme()"
          class="rounded-full bg-gray-100 p-2.5 text-gray-600 transition hover:text-gray-800 dark:bg-gray-800 dark:text-white dark:hover:text-gray-300 cursor-pointer"
        >
          <ng-container *ngIf="isDark; else lightIcon">
            <!-- Sun Icon -->
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-5 w-5"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
              stroke-width="1.5"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M12 3v2.25m6.364.386-1.591 1.591M21 12h-2.25m-.386 6.364-1.591-1.591M12 18.75V21m-4.773-4.227-1.591 1.591M5.25 12H3m4.227-4.773L5.636 5.636M15.75 12a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0Z"
              />
            </svg>
          </ng-container>
          <ng-template #lightIcon>
            <!-- Moon Icon -->
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-5 w-5"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
              stroke-width="2"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M21 12.79A9 9 0 1111.21 3a7 7 0 009.79 9.79z"
              />
            </svg>
          </ng-template>
        </button>

        <button
          (click)="toggleMenu()"
          class="block rounded-sm bg-gray-100 p-2.5 text-gray-600 transition hover:text-gray-800 dark:bg-gray-800 dark:text-white dark:hover:text-gray-300 md:hidden"
        >
          <span class="sr-only">Toggle menu</span>
          <!-- Hamburger Icon -->
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-5 w-5"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            stroke-width="2"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M4 6h16M4 12h16M4 18h16"
            />
          </svg>
        </button>
      </div>
    </div>
  </div>

  <div
    *ngIf="isMenuOpen"
    @menuAnimation
    class="md:hidden bg-white dark:bg-gray-900 px-4 py-4 shadow-sm"
  >
    <nav class="flex flex-col gap-4 text-sm">
      <a
        href="https://tetiana-dev.vercel.app"
        class="text-gray-500 transition hover:text-teal-600 dark:text-white dark:hover:text-teal-300"
        >← Back to Portfolio</a
      >
      <a
        href="https://github.com/TetianaAleks"
        target="_blank"
        class="text-gray-500 transition hover:text-teal-600 dark:text-white dark:hover:text-teal-300"
        >GitHub</a
      >
      <a
        href="https://www.frontendmentor.io/profile/TetianaAleks"
        target="_blank"
        class="text-gray-500 transition hover:text-teal-600 dark:text-white dark:hover:text-teal-300"
        >Frontend Mentor profile</a
      >
      <a
        href="https://tetiana-dev.vercel.app/contact"
        class="rounded-md bg-teal-600 px-5 py-2 text-center text-white font-medium transition hover:bg-teal-700"
        >Hire Me</a
      >
    </nav>
  </div>
</header>
