<main>
  <article class="card">
    <div class="card__image">
      <img
        src="assets/qr-code-component/image-qr-code.png"
        alt="QR code linking to Frontend Mentor website"
        class="card__image-img"
      />
    </div>
    <div class="card__text">
      <h1 class="card__title">
        Improve your front-end skills by building projects
      </h1>
      <p class="card__subtitle">
        Scan the QR code to visit Frontend Mentor and take your coding skills to
        the next level
      </p>
    </div>
  </article>
</main>
<app-footer-solution></app-footer-solution>
